@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000300;
}

@font-face {
  font-family: "Playfair-Display";
  src: url("assets/font/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Manrope";
  src: url("assets/font/Manrope-VariableFont_wght.ttf");
}
